:root {
    --root_bg: #F3F3F3;
    --text_color: #000;
    --primary-color: #2E805E;
    --primary-color__hover: hsl(from var(--primary-color) h s calc(l - 10));

    --header-bg: #fff;
    --header-color: #000;

    --card-bg: #fff;
    --card-border-color: #fff;
    --card-text: #000;

    --primary-btn-bg: var(--primary-color);
    --primary-btn-bg--hover: var(--primary-color__hover);
    --primary-btn-border: var(--primary-color);
    --primary-btn-border--hover: var(--primary-color__hover);
    --primary-btn-color: #fff;
    --primary-btn-color--hover: #fff;

    --bin-bg: var(--primary-color);
    --bin-bg--hover: var(--primary-color__hover);
    --bin-border: var(--primary-color);
    --bin-border--hover: var(--primary-color__hover);
    --bin-color: #fff;
    --bin-color--hover: #fff;

    --badge-bg: var(--primary-color);
    --badge-bg--hover: var(--primary-color__hover);
    --badge-color: #fff;
    --badge-color--hover: #fff;

    --search-bg: var(--primary-color);
    --search-bg--hover: var(--primary-color__hover);
    --search-border: var(--primary-color);
    --search-border--hover: var(--primary-color__hover);
    --search-color: #fff;
    --search-color--hover: #fff;

    --return-bg: var(--primary-color);
    --return-bg--hover: var(--primary-color__hover);
    --return-border: var(--primary-color);
    --return-border--hover: var(--primary-color__hover);
    --return-color: #fff;
    --return-color--hover: #fff;
}

body, .wrapper {
    color: var(--text_color) !important;
    background-color: var(--root_bg) !important;
    min-height: 100vh;
}

.navbar {
    background-color: var(--header-bg);
}

.navbar-brand{
    color: var(--header-color) !important;
}

.navbar .title {
    display: flex !important;
    align-items: center !important;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 25%));
    gap: 25px;
    justify-content: space-between;
    margin-top: 15px;
}

.cards-wrapper .card {
    background: var(--card-bg);
    border: 1px solid var(--card-border-color);
    color: var(--card-text);
    border-radius: 16px;
}

.cards-wrapper .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-wrapper .card .card-body .card-info {
    margin-bottom: 25px;
}

.cards-wrapper .card img {
    height: 250px;
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

.element-preview {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.element-image {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
}

.badge {
    position: absolute !important;
    top: -10px !important;
    right: -15px;
    color: var(--badge-color) !important;
    background-color: var(--badge-bg) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bin.btn.btn-primary:hover .badge {
    background-color: var(--badge-bg--hover) !important;
    color: var(--badge-color--hover) !important;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.card .form-group {
    margin-bottom: 25px;
}

.element-page img {
    width: 80%;
}

.btn-primary {
    background-color: var(--primary-btn-bg) !important;
    border-color: var(--primary-btn-bg) !important;
}

.btn-primary:hover {
    background-color: hsl(from var(--primary-btn-bg) h s calc(l - 10)) !important;
    border-color: hsl(from var(--primary-btn-bg) h s calc(l - 10)) !important;
}

.card-btns {
    display: flex;
    justify-content: center;
}

.card-btns .btn {
    width: 50%;
}

.search-btn.btn.btn-primary {
    background-color: var(--search-bg) !important;
    border-color: var(--search-border) !important;
    color: var(--search-color) !important;
}

.search-btn.btn.btn-primary:hover {
    background-color: var(--search-bg--hover) !important;
    border-color: var(--search-border--hover) !important;
    color: var(--search-color--hover) !important;
}

.return-btn.btn.btn-primary {
    background-color: var(--return-bg) !important;
    border-color: var(--return-border) !important;
    color: var(--return-color) !important;
}

.return-btn.btn.btn-primary:hover {
    background-color: var(--return-bg--hover) !important;
    border-color: var(--return-border--hover) !important;
    color: var(--return-color--hover) !important;
}

.btn.btn-primary {
    position: relative !important;
    background-color: var(--primary-btn-bg) !important;
    border-color: var(--primary-btn-border) !important;
    color: var(--primary-btn-color) !important;
}

.btn.btn-primary:hover {
    background-color: var(--primary-btn-bg--hover) !important;
    border-color: var(--primary-btn-border--hover) !important;
    color: var(--primary-btn-color--hover) !important;
}

.bin.btn.btn-primary {
    position: relative !important;
    background-color: var(--bin-bg) !important;
    border-color: var(--bin-border) !important;
    color: var(--bin-color) !important;
}

.bin.btn.btn-primary:hover  {
    background-color: var(--bin-bg--hover) !important;
    border-color: var(--bin-border--hover) !important;
    color: var(--bin-color--hover) !important;
}