{% load static %}

{% if draft_calculation %}
    <div class="col md-4 justify-end">
        <a href="/calculations/{{ draft_calculation.id }}/" class="w-25">
            <button type="submit" class="bin btn btn-primary position-relative w-100">
                Корзина
                <div class="badge position-absolute badge bg-primary rounded-pill">
                    {{ elements_count }}
                </div>
            </button>
        </a>
    </div>
{% else %}
    <div class="col md-4 justify-end">
        <button type="submit" class="bin btn btn-secondary disabled w-25">
            Корзина
        </button>
    </div>
{% endif %}
