{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Введите название" name="element_name" value="{{ element_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100 search-btn">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col md-4 justify-end">
                <a href="/calculations/{{ draft_calculation.id }}/" class="w-25">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        Корзина
                        <div class="badge position-absolute badge rounded-pill">
                            {{ elements_count }}
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <div class="cards-wrapper">
            {% for element in elements %}
                <div class="card">
                    <img src="{{ element.image }}" class="element-preview" alt=""/>
                    <div class="card-body" >
                        <div class="card-info">
                            <h5 class="card-title">{{ element.name }}</h5>
                            <p class="card-text">Химическая формула: {{ element.formula }} </p>
                        </div>
                        <div class="card-btns">
                            <a href="/elements/{{ element.id }}/" class="btn btn-primary center">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

